<div class="card card-block">
  <div class="row">
    <div class="col-xs-2">
      <%= image_tag article.authorImg %>
    </div>

    <div class="col-xs-10">
      <h6 class="card-title"><%= article.author %></h6>
      <h6 class="card-subtitle text-muted"><%= "#{time_ago_in_words(article.date)} ago" %></h6>
    </div>
  </div>

  <div class="spacer">
    <p class="card-text"><%= article.body %></p>
    <%= image_tag article.imgSrc %>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <span class="text-muted btn-description"><%= article.likes %> likes</span>
      <button type="button" class="btn btn-outline-primary btn-block">Like</button>
    </div>

    <div class="col-xs-6">
      <span class="text-muted btn-description"><%= article.comments %> comments</span>
      <button type="button" class="btn btn-outline-primary btn-block">Comment</button>
    </div>
  </div>
</div>